AWSTemplateFormatVersion: '2010-09-09'
Description: Creates the api infra for watch-expense-api

Parameters:
  VpcId:
    Type: AWS::EC2::VPC::Id
    Description: VPC Id where ECS cluster and service will be deployed

  PublicSubnets:
    Type: List<AWS::EC2::Subnet::Id>
    Description: WatchExpense public subnets

  WatchExpenseLBSecurityGroupId:
    Type: String
    Description: Security Group ID of the ALB for WatchExpense Application

  HostedZoneId:
    Type: String
    Description: Route53 hosted zone id
    Default: Z10038311RTI4QU4LIGAH

  ApiDomain:
    Type: String
    Description: e.g. api.watchexpense.mohits.me
    Default: api.watchexpense.mohits.me

  SSLCertificateArn:
    Type: String
    Description: SSL certificate for the api domain
    Default: arn:aws:acm:ap-south-1:873335417993:certificate/deea0830-e20f-4f41-841c-30b801e60e01

Resources:
  WatchExpenseTargetGroup:
    Type: AWS::ElasticLoadBalancingV2::TargetGroup
    Properties:
      Name: watch-expense-target-group
      Port: 8000
      Protocol: HTTP
      VpcId: !Ref VpcId
      TargetType: ip
      HealthCheckPath: /health
      HealthCheckIntervalSeconds: 30
      HealthCheckTimeoutSeconds: 10
      HealthyThresholdCount: 3
      UnhealthyThresholdCount: 3

  WatchExpenseLoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    Properties:
      Name: watch-expense-alb
      Subnets: !Ref PublicSubnets
      SecurityGroups:
        - !Ref WatchExpenseLBSecurityGroupId
      Scheme: internet-facing
      Type: application

  WatchExpenseListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: !Ref WatchExpenseLoadBalancer
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: !Ref SSLCertificateArn
      DefaultActions:
        - Type: forward
          TargetGroupArn: !Ref WatchExpenseTargetGroup

  HTTPListener:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn: !Ref WatchExpenseLoadBalancer
      Port: 80
      Protocol: HTTP
      DefaultActions:
        - Type: redirect
          RedirectConfig:
            Protocol: HTTPS
            Port: "443"
            StatusCode: HTTP_301

  WatchExpenseApiDNS:
    Type: AWS::Route53::RecordSet
    DependsOn: WatchExpenseLoadBalancer
    Properties:
      HostedZoneId: !Ref HostedZoneId
      Name: !Ref ApiDomain
      Type: A
      AliasTarget:
        DNSName: !GetAtt WatchExpenseLoadBalancer.DNSName
        HostedZoneId: !GetAtt WatchExpenseLoadBalancer.CanonicalHostedZoneID

Outputs:
  WatchExpenseTargetGroupArn:
    Description: ARN of the WatchExpense Target Group
    Value: !Ref WatchExpenseTargetGroup

  WatchExpenseTargetGroupName:
    Description: Name of the WatchExpense Target Group
    Value: !GetAtt WatchExpenseTargetGroup.TargetGroupFullName

  WatchExpenseLoadBalancerName:
    Description: Name of the WatchExpense Load Balancer
    Value: !GetAtt WatchExpenseLoadBalancer.LoadBalancerFullName
